<!DOCTYPE html>
<html>
<head>
  <title>Oliveway</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>_<%= action_name %>">
  <% if action_name == 'beta' %>
    <%= yield %>
  <% else %>
  <%= render "layouts/nav" %>
  <main>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert" %>
    <% end %>

    <%= yield %>
  </main>
  <%= render "layouts/footer" %>
  <% end %>
</body>
</html>
